spring:
  application:
    name: payments-ledger
  datasource:
    url: jdbc:postgresql://${POSTGRES_HOST:localhost}:${POSTGRES_PORT:5432}/${POSTGRES_DB:payments}
    username: ${POSTGRES_USER:payments}
    password: ${POSTGRES_PASSWORD:payments}
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        jdbc:
          lob:
            non_contextual_creation: true
  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP:kafka:9092}
    consumer:
      group-id: payment-ledger-service
      auto-offset-reset: earliest
      properties:
        spring:
          json:
            trusted:
              packages: "*"
  flyway:
    enabled: true
    locations: classpath:db/migration

server:
  port: ${APP_PORT:8080}
